$primary: rgb(0,128,128);
$grey: rgb(149,149,149);
$white: rgb(255,255,255);
$black: rgb(0,0,0);

body{
    background-color: $primary;
}

main{
    background-color: $primary;
    box-shadow: 0 0px 10px rgba(0,0,0,0.25), 0 0px 10px rgba(0,0,0,0.25);
}

body,
.contact a,
footer a{
    color: $white;
}

.headers,
.menuClick,
h3{
    background-color: rgba(0,0,0,0.6);
}

.headerLinks{
    background-color: $white;
}

header a{
    color: $black;
}

.aboutMe img{
    box-shadow: 1.5rem 1.5rem $white;
}

.image img{
    border: 8px solid $black;
}

.listOfSkills{
    border: 8px solid $grey;
    background-color: rgba(0,0,0,0.7);
}

.contact img{
    box-shadow: -1.5rem -1.5rem $white;
}

footer{
    background-color: $black;
}
