$primary: rgb(21,123,104);
$grey: rgb(149,149,149);
$white: rgb(255,255,255);
$black: rgb(0,0,0);

main{
    background-color: $primary;
}

body,
footer a{
    color: $white;
}

.headers{
    background-color: rgba(0,0,0,0.6);
}

header nav{
    background-color: $white;
}

header a{
    color: $black;
}

.aboutMe img{
    border: 3.5px solid $black;
    box-shadow: 1.5rem 1.5rem $white;
}

.icons{
    border: 5px solid $black;
}

footer{
    background-color: $black;
}
