$primary: rgb(21,123,104);
$grey: rgb(149,149,149);
$white: rgb(255,255,255);
$black: rgb(0,0,0);

h1,
h2{
    color: $white;
}

.headers{
    background-color: rgba(0,0,0,0.6);
}

header nav{
    background-color: $white;
}

header a{
    color: $black;
}
