header{
    background-image: url('../sources/headerImage2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

h1{
    margin: 0;
}

header nav{
    width: 65rem;
    padding: 4rem 0;
    position: absolute;
    right: 0;
    bottom: 30px;
}