header{
    background-image: url('../sources/headerImage2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.headers{
    width: 69.8rem;
    padding: 2.5rem 3rem;
    position: absolute;
    top: 20%;
    left: 15%;
}

.firstName{
    text-decoration: overline;
}

h1{
    margin: 0;
}

.job{
    text-align: right;
    width: 63.5rem;
    text-decoration: underline;
}

header nav{
    width: 65rem;
    padding: 4rem 0;
    position: absolute;
    right: 0;
    bottom: 30px;
}