header{
    background-image: url('../sources/headerImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.headers{
    width: 69.8rem;
    padding: 2.5rem 3rem;
    top: 20%;
    left: 15%;
}

.firstName{
    text-decoration: overline;
}

h1{
    margin: 0;
}

.job{
    text-align: right;
    width: 63.5rem;
    text-decoration: underline;
}

.headers,
.headerLinks,
.menu{
    position: absolute;
}

.headerLinks{
    width: 64.5rem;
    padding: 4rem 0;
    right: 0;
    bottom: 30px;
}

.menu{
    cursor: pointer;
    display: none;
}

.menuClick{
    padding: 1rem 0;
}
