.headerNav a:hover,
.headerNav a:focus{
    background-color: $black;
    color: $white;
}

.info a:hover,
.info a:focus{
    background-color: rgba(0,0,0,0.6);
    text-shadow: 0 0 5px $white;
}

footer a:hover,
footer a:focus{
    background-color: $white;
    color: $black;
}