.projects,
.skills,
.contact{
    margin-top: 6rem;
}

.aboutMe{
    padding-top: 6rem;
}

main{
    padding: 0 4rem;
    margin: 5rem auto;
    max-width: 950px;
    width: 92%;
}

h3:not(.skills){
    margin-bottom: 1rem;
}

.aboutMe h3{
    width: 21.9rem;
}

.projects h3{
    width: 18.5rem;
}

.skills h3{
    width: 11.8rem;
    margin: 0 auto 1rem;
}

.contact h3{
    width: 18.8rem;
}

h4{
    margin-bottom: 0.5rem;
}

.aboutMe img{
    width: 40rem;
    height: 40rem;
    margin-right: 4rem;
}

.firstProject,
.secondProject{
    margin-bottom: 5rem;
}

.firstProject .image,
.thirdProject .image{
    margin-left: 2rem;
}

.secondProject .image{
    margin-right: 2rem;
}

.secondProject{
    flex-direction: row-reverse;
}

.secondProject .description{
    text-align: right;
}

.description{
    width: 45%;
}

.image{
    width: calc(55% - 2rem);
}

.project img{
    border-radius: 10px;
}

.listOfSkills{
    border-radius: 15px;
    width: 60%;
    margin: 0 auto;
}

.listOfSkills li{
    margin: 1rem 0;
}