.aboutMe,
.projects,
.skills{
    margin-bottom: 4rem;
    padding-top: 6rem;
}

main{
    padding: 0 4rem;
    margin: 5rem auto;
    max-width: 950px;
    width: 92%;
}

h3{
    margin-bottom: 1rem;
}

.aboutMe h3{
    width: 23rem;
}

.projects h3{
    height: 5.7rem;
}

.skills h3{
    width: 12.5rem;
    margin: 0 auto 1rem;
}

.projects h3,
.contact h3{
    width: 19.5rem;
}

h4{
    margin-bottom: 0.5rem;
}

.aboutMe div:first-child,
.contact div:first-child{
    margin-right: 4rem;
}

.firstProject,
.secondProject{
    margin-bottom: 7rem;
}

.firstProject .image,
.thirdProject .image{
    margin-left: 2rem;
}

.secondProject .image{
    margin-right: 2rem;
}

.secondProject{
    flex-direction: row-reverse;
}

.secondProject .description{
    text-align: right;
}

.jQuery,
.firebase{
    width: 3rem;
}

.image img{
    border-radius: 10px;
}

.description{
    width: 150%;
}

.description p{
    margin-bottom: 1.2rem;
}

.listOfSkills{
    border-radius: 15px;
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

.listOfSkills li{
    margin: 1rem 0;
}

.contact{
    padding: 6rem 0;
}

.contact div:last-child{
    min-width: 55%;
}

.contact li{
    line-height: 4.7rem;
}

.info .fas,
.info .fab{
    padding-right: 0.7rem;
}

@keyframes Skills{
    0% {
        top: 100%;
    }

    100% {
        top: 0;
    }
}

.crawl {
    position: relative;
    animation: Skills 6s linear infinite;
    // height: 42.6rem;
}