// font-family: 'Poppins', sans-serif;

// font-family: 'Roboto Slab', serif;

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-weight: 700;
    font-size: 13rem;
}

.firstName{
    font-weight: 500;
}

header ul{
    font-size: 2.5rem;
}

.firstName,
.job{
    font-size: 3rem;
}

header ul,
.job{
    font-weight: 300;
}