// font-family: 'Poppins', sans-serif;

// font-family: 'Roboto Slab', serif;

body{
    font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3,
.headerNav{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 13rem;
    font-weight: 700;
}

.firstName{
    font-weight: 500;
}

header ul{
    font-size: 2.5rem;
}

.firstName,
.job{
    font-size: 3rem;
}

header ul,
.job{
    font-weight: 300;
}

h3{
    font-size: 4.5rem;
    font-weight: 600;
}

