html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 950px;
  width: 92%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.headerLinks,
.aboutMe,
.project,
.icons,
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerLinks,
.icons {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu,
h3,
.listOfSkills,
footer p {
  text-align: center;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
.headerNav,
footer {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 13rem;
  font-weight: 700;
}

.firstName {
  font-weight: 500;
}

.headerLinks,
.listOfSkills,
.info {
  font-size: 2.5rem;
}

.firstName,
.job,
h4,
.fab,
.fas {
  font-size: 3rem;
}

.headerLinks,
.job {
  font-weight: 300;
}

h3,
h4 {
  font-weight: 600;
}

h3 {
  font-size: 4.5rem;
}

body {
  background-color: teal;
}

main {
  background-color: teal;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.25);
}

body,
.contact a,
footer a {
  color: white;
}

.headers,
.menuClick,
h3 {
  background-color: rgba(0, 0, 0, 0.6);
}

.headerLinks {
  background-color: white;
}

header a {
  color: black;
}

.aboutMe img {
  -webkit-box-shadow: 1.5rem 1.5rem white;
          box-shadow: 1.5rem 1.5rem white;
}

.image img {
  border: 8px solid black;
}

.listOfSkills {
  border: 8px solid #959595;
  background-color: rgba(0, 0, 0, 0.7);
}

.contact img {
  -webkit-box-shadow: -1.5rem -1.5rem white;
          box-shadow: -1.5rem -1.5rem white;
}

footer {
  background-color: black;
}

header {
  background-image: url("../sources/headerImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.headers {
  width: 69.8rem;
  padding: 2.5rem 3rem;
  top: 20%;
  left: 15%;
  margin-bottom: 12rem;
}

.firstName {
  text-decoration: overline;
}

h1 {
  margin: 0;
}

.job {
  text-align: right;
  width: 63.5rem;
  text-decoration: underline;
}

.headers,
.headerLinks,
.menu {
  position: absolute;
}

.headerLinks {
  width: 64.5rem;
  padding: 4rem 0;
  right: 0;
  bottom: 30px;
}

.menu {
  cursor: pointer;
  display: none;
}

.menuClick {
  padding: 1rem 0;
}

.aboutMe,
.projects,
.skills {
  margin-bottom: 4rem;
  padding-top: 6rem;
}

main {
  padding: 0 4rem;
  margin: 5rem auto;
  max-width: 950px;
  width: 92%;
}

h3 {
  margin-bottom: 1rem;
}

.aboutMe h3 {
  width: 23rem;
}

.projects h3 {
  height: 5.7rem;
}

.skills h3 {
  width: 12.5rem;
  margin: 0 auto 1rem;
}

.projects h3,
.contact h3 {
  width: 19.5rem;
}

h4 {
  margin-bottom: 0.5rem;
}

.aboutMe div:first-child,
.contact div:first-child {
  margin-right: 4rem;
}

.firstProject,
.secondProject {
  margin-bottom: 7rem;
}

.firstProject .image,
.thirdProject .image {
  margin-left: 2rem;
}

.secondProject .image {
  margin-right: 2rem;
}

.secondProject {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.secondProject .description {
  text-align: right;
}

.jQuery,
.firebase {
  width: 3rem;
}

.image img {
  border-radius: 10px;
}

.description {
  width: 150%;
}

.description p {
  margin-bottom: 1.2rem;
}

.listOfSkills {
  border-radius: 15px;
  width: 60%;
  margin: 0 auto;
}

.listOfSkills li {
  margin: 1rem 0;
}

.contact {
  padding: 6rem 0;
}

.contact div:last-child {
  min-width: 55%;
}

.contact li {
  line-height: 4.7rem;
}

.info .fas,
.info .fab {
  padding-left: 0.7rem;
}

footer p {
  padding: 1.5rem 0;
}

footer a {
  padding: 1.22rem 0;
}

.headerNav a::after {
  content: '';
  display: block;
  width: 0;
  height: 0.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: black;
}

.headerNav a:hover::after {
  width: 100%;
}

.info a:hover,
.info a:focus {
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 0 5px white;
}

footer a:hover,
footer a:focus {
  background-color: white;
  color: black;
}

@media (max-width: 954px) {
  .aboutMe img,
  .contact img {
    width: 50%;
  }
  .aboutMe div:first-child,
  .contact div:first-child {
    margin-right: 0;
  }
  .aboutMe div:last-child,
  .contact div:last-child {
    margin: 4rem auto 0;
  }
  h3 {
    margin: 0 auto 1rem;
  }
  .aboutMe,
  .projects,
  .skills {
    margin-bottom: 2rem;
    padding-top: 4rem;
  }
  .aboutMe,
  .project,
  .contact {
    display: block;
  }
  .firstProject,
  .secondProject {
    margin-bottom: 5rem;
  }
  .description {
    margin: 0 auto 2rem;
  }
  .aboutMe img,
  .icons,
  .firstProject .image,
  .secondProject .image,
  .thirdProject .image,
  .contact img {
    margin: 0 auto;
  }
  .aboutMe div:last-child,
  .description,
  .icons,
  .firstProject .image,
  .secondProject .image,
  .thirdProject .image {
    width: 85%;
  }
  .contact {
    padding: 4rem 0;
  }
  .contact div:last-child {
    text-align: center;
  }
}

@media (max-width: 838px) {
  .firstName,
  .job {
    font-size: 2.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  .job {
    width: 39.4rem;
  }
  .headers {
    width: 45.5rem;
    top: 20%;
    left: 7%;
  }
  .headerLinks {
    width: 50rem;
    font-size: 2.3rem;
  }
}

@media (max-width: 534px) {
  .aboutMe div:last-child,
  .description,
  .icons,
  .firstProject .image,
  .secondProject .image,
  .thirdProject .image,
  .listOfSkills {
    width: 100%;
  }
  .aboutMe img,
  .contact img {
    width: 75%;
  }
  .info {
    font-size: 2rem;
  }
  .fab,
  .fas {
    font-size: 2.5rem;
  }
  .jQuery,
  .firebase {
    width: 2.5rem;
  }
  body {
    overflow-x: hidden;
  }
  .headers {
    left: 0;
  }
  .headerLinks li {
    padding: 0.25rem 0;
  }
  .headerLinks,
  .menu {
    width: 20rem;
  }
  .headerLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .menu {
    font-size: 2.3rem;
    display: block;
    right: 0;
    bottom: 244px;
  }
  .navActive {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (max-width: 472px) {
  .firstName,
  .job,
  .listOfSkills {
    font-size: 2.3rem;
  }
  h1 {
    font-size: 5rem;
  }
  .job {
    width: 27rem;
  }
  .headers {
    width: 33.2rem;
  }
}

@media (max-width: 410px) {
  html {
    font-size: 56%;
  }
  .headerLinks {
    bottom: 52.1px;
  }
}
