html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 950px;
  width: 92%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header ul,
.aboutMe div:first-child,
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

h3,
.listOfSkills,
footer p {
  text-align: center;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
.headerNav,
footer {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 13rem;
  font-weight: 700;
}

.firstName {
  font-weight: 500;
}

header ul,
.listOfSkills {
  font-size: 2.5rem;
}

.firstName,
.job {
  font-size: 3rem;
}

header ul,
.job {
  font-weight: 300;
}

h3,
h4 {
  font-weight: 600;
}

h3 {
  font-size: 4.5rem;
}

h4 {
  font-size: 3rem;
}

main {
  background-color: teal;
  -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 0px 10px rgba(0, 0, 0, 0.25);
}

body,
footer a {
  color: white;
}

.headers,
h3 {
  background-color: rgba(0, 0, 0, 0.6);
}

header nav {
  background-color: white;
}

header a {
  color: black;
}

.aboutMe img {
  -webkit-box-shadow: 1.5rem 1.5rem white;
          box-shadow: 1.5rem 1.5rem white;
}

.project img {
  border: 8px solid black;
}

.listOfSkills {
  border: 8px solid #959595;
  background-color: rgba(0, 0, 0, 0.7);
}

footer {
  background-color: black;
}

header {
  background-image: url("../sources/headerImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.headers {
  width: 69.8rem;
  padding: 2.5rem 3rem;
  top: 20%;
  left: 15%;
}

.firstName {
  text-decoration: overline;
}

h1 {
  margin: 0;
}

.job {
  text-align: right;
  width: 63.5rem;
  text-decoration: underline;
}

header nav {
  width: 65rem;
  padding: 4rem 0;
  right: 0;
  bottom: 30px;
}

.headers,
header nav {
  position: absolute;
}

.projects,
.skills,
.contact {
  margin-top: 6rem;
}

.aboutMe {
  padding-top: 6rem;
}

main {
  padding: 0 4rem;
  margin: 5rem auto;
  max-width: 950px;
  width: 92%;
}

h3:not(.skills) {
  margin-bottom: 1rem;
}

.aboutMe h3 {
  width: 21.9rem;
}

.projects h3 {
  width: 18.5rem;
}

.skills h3 {
  width: 11.8rem;
  margin: 0 auto 1rem;
}

.contact h3 {
  width: 18.8rem;
}

h4 {
  margin-bottom: 0.5rem;
}

.aboutMe img {
  width: 40rem;
  height: 40rem;
  margin-right: 4rem;
}

.firstProject,
.secondProject {
  margin-bottom: 5rem;
}

.firstProject .image,
.thirdProject .image {
  margin-left: 2rem;
}

.secondProject .image {
  margin-right: 2rem;
}

.secondProject {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.secondProject .description {
  text-align: right;
}

.description {
  width: 45%;
}

.image {
  width: calc(55% - 2rem);
}

.project img {
  border-radius: 10px;
}

.listOfSkills {
  border-radius: 15px;
  width: 60%;
  margin: 0 auto;
}

.listOfSkills li {
  margin: 1rem 0;
}

footer p {
  padding: 1.5rem 0;
}
